a.out

/*.txt
/*.odt
/*.vscode
/*.out
/*.docx
/*.pdf

iverilog
newfolder
ExperimentsDocs
ExperimentsDocs
ShellScripts
Practice
Verilog
.gitignore
test.c
.gitignore
test2.c
test.v
test.c
test_out
producer.c
circuit.vcd
datawrite.c
